<<<<<<< HEAD
  <%= link_to '100 Day challenge', challenges_path, :class => "nav-link" %>
  <a href="/ideation_format.pptx" class="nav-link" download>Ideation Events</a>
  <a href="/the-intrapreneur.pdf" class="nav-link" download>The Intrapeneur "E-Book"</a>
  <a href="/RU Pitch.jpeg" class="nav-link" download>Barclays Pitch Infographic</a>
  <a href="/approaching a senior person - email.docx" class="nav-link" download>Template to approach a senior person</a>
  <a href="/Approachingakeynotespeaker.docx" class="nav-link" download>Template to approach a keynote speaker</a>
  <a href="/Barclays Roundup Pilot Review and Phase 2.pptx" class="nav-link" download>Roundup Internal Pilot</a>
  <a href="/Original Pictch Deck Mar 2015.pptx" class="nav-link" download>Original Pitch</a>
=======
<%= link_to '100 Day challenge', challenges_path, :class => 'nav-link' %>
<a href="/ideation_format.pptx" class="nav-link" download>Ideation Events</a>
<a href="/the-intrapreneur.pdf" class="nav-link" download>The Intrapeneur "E-Book"</a><a href="/RU Pitch.jpeg" download>Barclays Pitch Infographic</a>
<a href="/RU Pitch.jpeg" class="nav-link" download>Barclays Pitch Infographic</a>
<a href="/approaching a senior person - email.docx" class="nav-link" download>Template to approach a senior person</a>
<a href="/Approachingakeynotespeaker.docx" class="nav-link" download>Template to approach a keynote speaker</a>
<a href="/Barclays Roundup Pilot Review and Phase 2.pptx" class="nav-link" download>Roundup Internal Pilot</a>
<a href="/Original Pictch Deck Mar 2015.pptx" class="nav-link" download>Original Pitch</a>
>>>>>>> a1751beb6ae84bbab7836428542e88b324553266
