<<<<<<< HEAD
  <a href="/inspiration_format.pptx" class="nav-link" download>Inspiration Events</a>
  <a href="/ADP infographic.PNG" class="nav-link" download>ADP Infographics</a>
  <a href="/Recommended Reading List.docx" class="nav-link" download>Recommended Reading List</a>
  <a href="/10.03.2018 - Circle_Whitepaper_OYW_Version.pdf" class="nav-link" download>Circle Whitepaper</a>
  <a href="/Value Proposition and Project Lifecycle.pptx" class="nav-link" download>COYI Project Lifecycle</a>
  <a href="/ADP infographic.PNG" class="nav-link" download>Case Studies</a></li>


    <!-- then onto "_resourceslevel2-4.html.erb" -->
=======
<a href="/inspiration_format.pptx" class="nav-link" download>Inspiration Events</a>
<a href="/ADP infographic.PNG" class="nav-link" download>ADP Infographics</a>
<a href="/Recommended Reading List.docx" class="nav-link" download>Recommended Reading List</a>
<a href="/10.03.2018 - Circle_Whitepaper_OYW_Version.pdf" class="nav-link" download>Circle Whitepaper</a>
<a href="/Value Proposition and Project Lifecycle.pptx" class="nav-link" download>COYI Project Lifecycle</a>
<a href="/ADP infographic.PNG" class="nav-link" download>Case Studies</a>
>>>>>>> a1751beb6ae84bbab7836428542e88b324553266
