<li><a href="/inspiration_format.pptx" download>Inspiration Events</a></li>
<li><a href="/ADP infographic.PNG" download>ADP Infographics</a></li>
<li><a href="/Recommended Reading List.docx" download>Recommended Reading List</a></li>
<li><a href="/10.03.2018 - Circle_Whitepaper_OYW_Version.pdf" download>Circle Whitepaper</a></li>
<li><a href="/Value Proposition and Project Lifecycle.pptx" download>COYI Project Lifecycle</a></li>
<li><a href="/ADP infographic.PNG" download>Case Studies</a></li>
