<<<<<<< HEAD
  <a href="/circlestory.PDF" download>Core Event Templates</a>
  <a href="/Core Events Slides.zip" download>Core Event Slides</a>
  <a href="/Key note presentations.zip" download>Keynote presentation slides</a>
  <a href="/COY Cty Lead Guide 2018.pptx" download>Chapter Lead Guide</a>
=======
<a href="/circlestory.PDF" class="nav-link" download>Core Event Templates</a>
<a href="/Core Events Slides.zip" class="nav-link" download>Core Event Slides</a>
<a href="/Key note presentations.zip" class="nav-link" download>Keynote presentation slides</a>
<a href="/COY Cty Lead Guide 2018.pptx" class="nav-link" download>Chapter Lead Guide</a>
>>>>>>> a1751beb6ae84bbab7836428542e88b324553266
