

<li><%= link_to '100 Day challenge', challenges_path %></li>
<li><a href="/ideation_format.pptx" download>Ideation Events</a></li>
<li><a href="/the-intrapreneur.pdf" download>The Intrapeneur "E-Book"</a></li><li><a href="/RU Pitch.jpeg" download>Barclays Pitch Infographic</a></li>
<li><a href="/RU Pitch.jpeg" download>Barclays Pitch Infographic</a></li>
<li><a href="/approaching a senior person - email.docx" download>Template to approach a senior person</a></li>
<li><a href="/Approachingakeynotespeaker.docx" download>Template to approach a keynote speaker</a></li>
<li><a href="/Barclays Roundup Pilot Review and Phase 2.pptx" download>Roundup Internal Pilot</a></li>
<li><a href="/Original Pictch Deck Mar 2015.pptx" download>Original Pitch</a></li>
