// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about {
  width: 40%;
}

.team {
  width: 80%;
}

body {
  text-align: center;
}
