// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: "Roboto";
    src: url('/roboto/Roboto-Regular.ttf');
}

* {
  font-family: "Roboto";
}

#body-home {
  font-family: inherit;
  text-align: center;
}

.home-link {
  color: #F0564E;
}

.home-link:hover {
  color: #F0564E;
  text-decoration: none;
}

body#landing_page {
  background-image: image-url('/images/landing_logo.gif');
  background-size: 100%;
  background-repeat: repeat;
  background-color: black;
}

.brand-img{
  width: 50px;
}

.no-pad {
  padding: 0;
}

.page-band {
  background-color: #F0564E;
  width: 100%;
}

.no-margin {
  margin: 0;
}

.abso {
  position: absolute;
}

.title-style {
  text-transform: uppercase;
}

.shadow-one {
  box-shadow: 0px 0px 2px lightgrey;
}

// Navbar
.nav-bar-style {
  background-color: #F0564E;
  color: white;
  margin-bottom: 2%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: rgba(255,255,255,1);
}

.nav-link:hover {
  color: white;
  text-shadow: 0px 0px 1px white;
}
