// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: "Roboto";
    src: url('/roboto/Roboto-Regular.ttf');
}

* {
  font-family: "Roboto";

}

#body-home {
  font-family: inherit;
  text-align: center;

}
.home-link {
  color: #F0564E;
}
.home-link:hover {
  color: #F0564E;
  text-decoration: none;
}

body#landing_page {
  background-image: image-url('/images/landing_logo.gif');
  background-size: 100%;
  background-repeat: repeat;
  background-color: black;
}


.nav-bar-style {
  background-color: #F0564E;
  border-bottom: 1px solid red;
  margin-bottom: 70px;
}

.nav-link {
  color: #f1f1f1 !important;
}
.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: #fafafa !important;
}

.pad-left {
  padding-left: 2%;
  padding-right: 2%;
}

.brand-img{
  width: 50px;
}

.no-pad {
  padding: 0;
}

.page-band {
  background-color: #F0564E;
  width: 100%;
}

.no-margin {
  margin: 0;
}
