// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Roboto-Thin';
  src: url('/roboto/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('/roboto/Roboto-Bold.ttf')
}
@font-face {
    font-family: "Roboto";
    src: url('/roboto/Roboto-Regular.ttf');
}

#body-home {
  margin: 0 !important;
  font-family: "Roboto";
}

#landing_page {
  background-image: image-url('/images/landing_logo.gif');
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav-bar-style {
  background-color: #F0564E;
  border-bottom: 1px solid red;
}

.nav-link {
  color: #f1f1f1 !important;
}
.nav-link:hover {
 color: white !important;
 background-color: #F0564E;
}

.nav-link:active {
  color: #fafafa !important;
}

.pad-left {
  padding-left: 2%;
  padding-right: 2%;
}

.brand-img{
  width: 100%;
}


#map {
  padding-top: 500px;
  height: 60%;
  width: 100%;

}
.success{
  font-size: 1.1em;
  font-family: 'Roboto-Bold';
  color: #F0564E;
}
.success:hover{
  font-size: 1.1em;
  font-family: 'Roboto-Bold';
  color: #F0564E;

}
/* Map Modals */
.map-social {
  margin: auto;
  display: flex;
}
.map-social a {
  flex: 1;
}
#map-container {
  height: 70vh;
}
.rounded-circle{
  width: 10vw;
}
#map-twitter,
#map-email,
#map-facebook,
#map-linkedin {
  font-size:1.5em;
  margin:0;
}

#map-twitter {
  color:#0074b8;
}

#map-email {
  color:#c72121;
}

#map-facebook {
  color:#0074b8;
}

#map-linkedin {
  color:#0074b8;
}
.card-title{
  color: #F0564E;
}
.hr {
    border-top: grey solid 1.5px;
    width: 100%;
    align: center;
}
/* Social Link */
.fab {
  /* padding: .5em; */
  font-size: 1.7em;
  line-height: 1.7em;
  height: 1.7em;
  width: 1.7em;
  text-align: center;
  text-decoration: none;
  margin: 5px .7em;
  border-radius: 50%;
  border: 1px solid white;
  color:white;
  transition: .2s;
}
