// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: "Roboto";
    src: url('/roboto/Roboto-Regular.ttf');
}

* {
  font-family: "Roboto";

}

#body-home {
  font-family: inherit;
  text-align: center;

}
.home-link {
  color: #F0564E;
}
.home-link:hover {
  color: #F0564E;
  text-decoration: none;
}

#landing_page {
  background-image: image-url('/images/landing_logo.gif');
  background-repeat: no-repeat;
  background-size: 100%;
}


.nav-bar-style {
  background-color: #F0564E;
  border-bottom: 1px solid red;
}

.nav-link {
  color: #f1f1f1 !important;
}
.nav-link:hover {
 color: white !important;
 background-color: #F0564E;
}

.nav-link:active {
  color: #fafafa !important;
}

.pad-left {
  padding-left: 2%;
  padding-right: 2%;
}

.brand-img{
  width: 100%;
}
