// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: "Roboto";
    src: url('/roboto/Roboto-Regular.ttf');
}
* {
  font-family: "Roboto";

}
#body-home {
  // margin: 0 !important;
  font-family: inherit;

}

body.landing_page {
  background-image: image-url('/images/landing_logo.gif');
  background-repeat: no-repeat;
  background-size: 100%;
}

body.home{
  text-align: center;
}

.nav-bar-style {
  background-color: #F0564E;
  border-bottom: 1px solid red;
  margin-bottom: 70px;
}

.nav-link {
  color: #f1f1f1;
}
.nav-link:hover {
 color: white;
 background-color: #F0564E;
}

.nav-link:active {
  color: #fafafa;
}

.pad-left {
  padding-left: 2%;
  padding-right: 2%;
}

.brand-img{
  width: 100%;
}
