// footer {
//   margin-top: 300px;
// }

body {
  margin: 0px;
  padding: 0px;
}

.footer {
  // margin-top: 20px;
  // position: relative;
  width: 100%;
  //   height: 60px;
  //   line-height: 60px;
  padding: 10px;
  background-color: #F0564E;
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
  margin-top: 120px;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.foot {
  list-style-type: none;
  display: inline-block;
}

#navdrop {
  border: none;
  border-radius: 10px;
  background-color: #F0564E;
}
