// Place all the styles related to the Sucess controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  padding: 20px;
}

.sucess {
  width: 40%;
  padding: 10px;
}
