<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @ask_advocate.question %>
</p>

<%= link_to 'Edit', edit_ask_advocate_path(@ask_advocate) %> |
<%= link_to 'Back', ask_advocates_path %>
