<<<<<<< HEAD
<%= render 'layouts/navbar' %>
=======
<%= stylesheet_link_tag 'home' %>
>>>>>>> 5dfbcb9d7a991b3f2081e1acd242225161529ed1
<h1>Home#home</h1>
<p>Find me in app/views/home/home.html.erb</p>
