<%= render 'layouts/navbar' %>

<body class="home">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>3</h1>
    </div>
    <div class="col-md-6 embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/r47ac_6I7-Y?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-3">
      <h1>3</h1>
    </div>
  </div>
</div>
</body>
