
<body id = "body-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>The Circle of Young Intrapreneurs</h1>
        <p>
          A movement designed to inspire, guide, develop & deliver purpose-driven business ideas
          from social intrapreneurs inside corporate organisations globally. We drive positive social change
          through business by creating a community of changemakers and supporting them to deliver
          their ideas, with tools, mentoring and advice from leading intrapreneurs.
          Join us and together we can make business a force for good. <br>
          <a href="#" class="home-link">#dowelldogood.</a>
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-8 embed-responsive embed-responsive-16by9">
        <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/r47ac_6I7-Y?rel=0&modestbranding=1&showinfo=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-md-2 order-md-first">
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>TicketAid</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Connected Homeless</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Round Up</h1>
      </div>
    </div>
</body>
