  
<body id = "body-home">
  <%= render 'layouts/navbar' %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Circle of Young Intrepreneurss</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 embed-responsive embed-responsive-16by9">
        <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/r47ac_6I7-Y?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-md-2 order-md-first">
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>TicketAid</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Connected Homeless</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Round Up</h1>
      </div>
    </div>
</body>
