<h1>Home#landing</h1>
<p>Find me in app/views/home/landing.html.erb</p>

<%=link_to 'home' , home_path%>
<%=link_to image_tag('/images/landing_logo.gif', :border=>0, :alt => 'circle of intrapreneurs'), {action: 'home', controller: 'home'}%>
