<div class="top-of-page">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 red-background">
      Name:
      <p>
        <%= current_user.first_name %> <%= current_user.second_name %>
      </p>
      Location:
      <p>
        <%= current_user.location %>
      </p>
      Username:
      <p>
        <strong>User:</strong>
        <%= current_user.username %>
      </p>
    </div>
  </div>
</div>
<div class="top-of-page">
</div>
