<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="container">
      <div class="form-div row">
        <div class="col-md-12" id="smooth-edges">
          <h1 class="title-style">Ask an Expert</h1>
          <div class="advocate-div row">
            <div class="col-md-10 offset-md-1">
              <form class="" action="advocate.html.erb" method="post">
                <p class="center-text">Got a question?</p>
                <p>Send us a message and one of our Experts with get back to you.</p>
                <div class="advocate-div row">
                  <div class="col-md-12">
                    <h3 class="title-style option-title">Question</h3>
                    <textarea class="question-form" name="question"></textarea>
                  </div>
                  <input class="input-style" type="submit" name="" value="Submit">
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
