<h1>Forum Rules</h1>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="white-text text-on-bk-red pad col-md-4">
    <ol>
      <li>Rule 1</li>
      <li>Rule 2</li>
      <li>Rule 3</li>
      <li>Rule 4</li>
    </ol>
  </div>
  <div class="col-md-4">
  </div>
</div>
