<link rel="stylesheet" href="/Stylesheets/news.css">
<div class="top-of-page">
</div>
<div class="row news-title">
  <div class="col-md-10">
    <h1>News</h1>
    </div>
    <div class="col-md-2">
       <%= link_to 'New', new_news_path, :class => 'btn btn-outline-light btn-lg btn-block'%>
    </div>
  </div>
<%= render 'news/news_list' %>
