<div class="jumbotron jumbotron-fluid page-band-red">
  <div class="container">
    <img src="/images/user_placeholder_img.jpeg" class="user-profile-pic rounded-circle image-responsive" alt="Image of current user">
    <h2 class="text-on-bk">Edit Project </h2>
    <hr class="profile-hr">
  </div>
</div>


<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back to My Projects', projects_path %>
