<<<<<<< HEAD
<footer class="footer">
<div class="container">
  <a href="/about/contact" >Contact Us</a>
  <span>Footer content here</span>
</div>
=======
<footer class="footer" style="top: 90px">
  <div class="container">
    <div class="row">
      <div class="col-md-12 nav-item">
        <%= link_to 'CONTACT US', contact_path, :class => "nav-link", :style => "display: inline-block" %>
        <%= link_to 'FAQS', faq_path, :class => "nav-link", :style => "display: inline-block" %>
        <span>Copyright © Circle of Young Intrapreneurs 2015-2018</span>
      </div>
    </div>
  </div>
>>>>>>> f90370703e3ecc90a2ecc42fd85f5a59a3033d93
</footer>
