<footer class="footer">
  <div class="container" class>
    <ul>
      <li class="foot"><%= link_to 'Contact Us', contact_path, :class => 'nav-link' %></li>
      <li class="foot"><%= link_to 'FAQ', faq_path, :class => 'nav-link' %></li>
      <li class="foot"><span>Footer content here</span></li>
    </ul>
  </div>
</footer>
