<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->


<div class="container-fluid marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row white-background center-text text-on-bk pad" style="color:black;">
    <div class="col-lg-4">
      <img class="stories rounded-circle" src="barclays.jpg" alt="Barclays" width="140" height="140">
      <h2>Barclays RoundUp</h2>
      <p>
        RoundUp is a microdonation initiative conceived within Barclays by intrapreneurs Tim Heard
        and David Spears, which allows
        individuals to make a big difference with their small change using an interactive digital application.
        The app enables customers to round up their purchases to the nearest pound
        (for example, the cost of a coffee from £2.85 to £3.00), up to a monthly cap, and donate this
        to a chosen charity.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="stories rounded-circle" src="/o2_telefonica.png" alt="O2" width="140" height="140">
      <h2>Connected Homeless</h2>
      <p>
        Connected Homeless is a digital platform created within O2 by intrapreneur Sal Mohammed.
        It connects donors, homeless
        people and organisations through the provision of a variety of services to the homeless community.
        The platform accepts donations from private individuals, corporates and government entities, working through a
        crypto-currency based system. Through the consumer-facing (donor) app, users are able to
        donate their spare resources with the click of a button.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="stories rounded-circle" src="/thomson_reuters.png" alt="Thomson Reuters" width="140" height="140">
      <h2>TicketAid</h2>
      <p>
        TicketAid is a corporate ticket allocation website designed to give employees access to exclusive
        tickets, that would otherwise go unused, whilst raising funds for charity. It was brought into being
        by intrapreneur Matthew O'Shea at Thomson Reuters and works as an innovative platform connecting
        corporates, employees and charities whereby unallocated corporate hospitality tickets are
        redonated to TicketAid. Employees can then buy these tickets at face value, with the proceeds
        going to an assigned charity selected by the donator of the ticket.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="top-of-page"></div>
</div><!-- /.container -->
</body>
