/* FOOTER */

.footer {
  width: 100%;
  padding: 10px;
  background-color: #F0564E;
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
  margin-top: 120px;
}

.container {
  width: auto;
  padding: 0 15px;
}

/* NAVBAR */

.nav-bar-style {
  background-color: #F0564E;
  color: white;
  margin-bottom: 2%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: rgba(255,255,255,1);
}

.nav-link:hover {
  color: white;
  text-shadow: 0px 0px 1px white;
}
