@font-face {
    font-family: "Roboto";
    src: url('/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('/roboto/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('/roboto/Roboto-Bold.ttf')
}

* {
  font-family: "Roboto";
}

#body-home {
  font-family: inherit;
  text-align: center;
}

body {
  background-image: url('/images/city_bg.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-link {
  color: #F0564E;
}

.jumbotron{
  background: none;
  text-shadow: 2px 2px 4px white;
}

.top-of-page {
  height: 76px;
}

.home-link:hover {
  color: #F0564E;
  text-decoration: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #F0564E;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #F0564E;
}

.top-margin {
  margin-top: 10%;
}

body#landing_page {
  background-image: url('/images/landing_logo.gif');
  background-size: 100%;
  background-repeat: repeat;
  background-color: black;
}

.brand-img{
  width: 50px;
}

.no-pad {
  padding: 0;
}

.page-band-red {
  background-color: #F0564E;
  width: 100%;
}

.page-band-white {
  background-color: white;
  width: 100%;
}

.no-margin {
  margin: 0;
}

.marketing{
  background: none;
  text-shadow: 2px 2px 4px white;
}

.small-margin {
  margin: 10px;
}

.abso {
  position: absolute;
}

.title-style {
  text-transform: uppercase;
  text-align: center;
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
  display: inline;
}

.descrip {
  display: block;
}

.shadow-one {
  box-shadow: 0px 0px 2px lightgrey;
}

.video-margin {
  margin-top: 13%;
  margin-bottom: 8%;
}

.back-img {
  position: fixed;
}
.team {
  padding: 5%;
}

.red-background {
  background-color: #F0564E;
}

.center-text {
  text-align: center;
}

.login-button {
  margin: 0 33% 0 33%;
  width: 33%;
  padding: 0 2% 0 2%;
  border-radius: 0.25rem;
}

#title-on-img {
  color: white;
  text-shadow: 0px 0px 1px black;
  z-index: 1;
  margin-top: 10%;
  display: none;
}

#mission-state {
  padding: 3%;
  font-size: 21px;
}

#stories {
  padding: 10% 0%;
  color: white;
}

@media only screen and (max-width: 882px) {
  #title-on-img {
    color: white;
    text-shadow: 0px 0px 1px black;
    z-index: 1;
    margin-top: 15%;
    font-size: 35px;
  }

  .nav-link {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  #title-on-img {
    display: none;
  }

  .video-margin {
    margin-top: 2:q0%;
  }

  #mission-state {
    font-size: 15px;
  }
}

@media all and (max-width: 1024px) and (min-height:  400px){
  .navbar-collapse .navbar-expand-md {
    display: flex !important;
    flex-basis: auto !important;
  }
}
