@font-face {
    font-family: "Roboto";
    src: url('/roboto/Roboto-Regular.ttf');
}

* {
  font-family: "Roboto";
}

#body-home {
  font-family: inherit;
  text-align: center;
  background-image: url('/images/city_bg.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-link {
  color: #F0564E;
}

.home-link:hover {
  color: #F0564E;
  text-decoration: none;
}

.top-margin {
  margin-top: 10%;
}

body#landing_page {
  background-image: url('/images/landing_logo.gif');
  background-size: 100%;
  background-repeat: repeat;
  background-color: black;
}

.brand-img{
  width: 50px;
}

.no-pad {
  padding: 0;
}

.page-band-red {
  background-color: #F0564E;
  width: 100%;
}

.page-band-white {
  background-color: white;
  width: 100%;
}

.no-margin {
  margin: 0;
}

.abso {
  position: absolute;
}

.title-style {
  text-transform: uppercase;
  text-align: center;
}

.profile-pic {
  width: 200px;
  border-radius: 50%
}

.shadow-one {
  box-shadow: 0px 0px 2px lightgrey;
}

.video-margin {
  margin-top: 13%;
  margin-bottom: 8%;
}

.back-img {
  position: fixed;
}

#title-on-img {
  color: white;
  text-shadow: 0px 0px 1px black;
  z-index: 1;
  margin-top: 10%;
  display: none;
}

#mission-state {
  padding: 3%;
  font-size: 21px;
}

#stories {
  padding: 10% 0%;
}

@media only screen and (max-width: 882px) {
  #title-on-img {
    color: white;
    text-shadow: 0px 0px 1px black;
    z-index: 1;
    margin-top: 15%;
    font-size: 35px;
  }

  .nav-link {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  #title-on-img {
    display: none;
  }

  .video-margin {
    margin-top: 20%;
  }

  #mission-state {
    font-size: 15px;
  }
}
