
#widen-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-images {
  display: block;
}

.col-margin {
  margin-bottom: 70px;
}
.wrapper {
  max-width:200px;
  width:100%;
}

.stories {
  border: 2px solid #F0564E;
}

/* .title {
  font-family: 'Roboto';
} */
