<h1>About Us</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/r47ac_6I7-Y?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


<h3>Values and Beliefs</h3>

<img class="about" src="whoarewe.png" alt="Who are we?">

<img class="about" src="social.png" alt="Social Intrapreneur">

<h3>Meet the team</h3>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Team Member</h5>
      <img src="https://placeimg.com/300/300/any" alt="Team">
      <p>Short Description</p>
    </div>
    <div class="col-md-6">
      <h5>Team Member</h5>
      <img src="https://placeimg.com/300/300/any" alt="Team">
      <p>Short Description</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>Team Member</h5>
      <img src="https://placeimg.com/300/300/any" alt="Team">
      <p>Short Description</p>
    </div>
    <div class="col-md-6">
      <h5>Team Member</h5>
      <img src="https://placeimg.com/300/300/any" alt="Team">
      <p>Short Description</p>
    </div>
  </div>
</div>
