<h1>About Us</h1>


<h3>Values and Beliefs</h3>

<img class="about" src="social.png" alt="Social Intrapreneur">

<img class="about" src="whoarewe.png" alt="Who are we?">
<br>
ADD VIDEO HERE

<h3>Meet the team</h3>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Tim Heard</h5>
      <img src="tim-heard.jpg" alt="Team">
      <p>Short Description</p>
    </div>
    <div class="col-md-6">
      <h5>David Speards</h5>
      <img src="david-spears.jpg" alt="Team">
      <p>Short Description</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>Team Member</h5>
      <img src="https://placeimg.com/300/300/any" alt="Team">
      <p>Short Description</p>
    </div>
    <div class="col-md-6">
      <h5>Team Member</h5>
      <img src="https://placeimg.com/300/300/any" alt="Team">
      <p>Short Description</p>
    </div>
  </div>
</div>
