<div class="container top-margin white-text">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="title-style background-text">About US</h1>
      <p class="white-text background-text big-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>


  <div class="container text-on-bk-red pad">
    <div class="row">
      <div class="col-md-6">
        <div class="row team">
          <div class="col-md-4">
            <h5 class="title-style">David Spears</h5>
            <img class="profile-pic" src="/david-spears.jpg" alt="Team">
          </div>
          <div class="col-md-8">
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row team">
          <div class="col-md-4">
            <h5 class="title-style">Tim Heard</h5>
            <img class="profile-pic" src="/tim-heard.jpg" alt="Team">
          </div>
          <div class="col-md-8">
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row team">
          <div class="col-md-4">
            <h5 class="title-style">Team Member</h5>
            <img class="profile-pic" src="https://placeimg.com/300/300/any" alt="Team">
          </div>
          <div class="col-md-8">
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row team">
          <div class="col-md-4">
            <h5 class="title-style">David Speards</h5>
            <img class="profile-pic" src="https://placeimg.com/300/300/any" alt="Team">
          </div>
          <div class="col-md-8">
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row team">
          <div class="col-md-4">
            <h5 class="title-style">David Speards</h5>
            <img class="profile-pic" src="https://placeimg.com/300/300/any" alt="Team">
          </div>
          <div class="col-md-8">
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row team">
          <div class="col-md-4">
            <h5 class="title-style">David Speards</h5>
            <img class="profile-pic" src="https://placeimg.com/300/300/any" alt="Team">
          </div>
          <div class="col-md-8">
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
