<h1>About Us</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/r47ac_6I7-Y?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


<h3>Values and Beliefs</h3>

<img class="about" src="whoarewe.png" alt="Who are we?">

<img class="about" src="social.png" alt="Social Intrapreneur">

<h3>Meet the team</h3>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Tim Heard</h5>
      <img class="team" src="tim-heard.jpg" alt="Team">
      <p>Short Description</p>
    </div>
    <div class="col-md-6">
      <h5>David Spears</h5>
      <img class="team" src="David-Spears.jpg" alt="Team">
      <p>Short Description</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h5>Team Member</h5>
      <img class="team" src="https://placeimg.com/200/200/any" alt="Team">
      <p>Short Description</p>
    </div>
    <div class="col-md-6">
      <h5>Team Member</h5>
      <img class="team" src="https://placeimg.com/200/200/any" alt="Team">
      <p>Short Description</p>
    </div>
  </div>
</div>
