<h1>Contact Us</h1>

<form class="" action="contact.html.erb" method="post">
  <h3>Full Name:</h3>
  <input type="text" name="name" value="">
  <h3>Email:</h3>
  <input type="text" name="email" value="">
  <h3>Question</h3>
  <input type="text" name="question" value="">

  <input type="submit" name="" value="Submit">

</form>
