<h1>Contact Us</h1>

<form class="" action="contact.htm.erb" method="post">

  <h3>Select level of membership:</h3>
  <select name="cars">
    <option value="non" selected>Non-member</option>
    <option value="non-active">Non-active member</option>
    <option value="aspiring">Aspiring Social Intrapreneur</option>
    <option value="Practicing">Practicing Social Intrapreneur</option>
  </select>
  <h3>Username:</h3>
  <input type="text" name="username" value="">
  <h3>Full Name:</h3>
  <input type="text" name="name" value="">
  <h3>Email:</h3>
  <input type="text" name="email" value="">
  <h3>Question</h3>
  <input type="text" name="question" value="">
  <br>
  <input type="submit" name="" value="Submit">



</form>
