<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
    <div class="page-band-red text-on-bk contact-page-content">
        <h1>Contact Us</h1>
        <form class="" action="contact.html.erb" method="post">
          <h3>Full Name:</h3>
          <input type="text" name="name" value="">
          <h3>Email:</h3>
          <input type="text" name="email" value="">
          <h3>Question</h3>
          <!-- <input type="text" name="question" value=""> -->
          <textarea class="question-form" name="question"></textarea>
          <input type="submit" name="" value="Submit">

        </form>
      </div>
    </div>
  </div>
</div>
