<link rel="stylesheet" href="/stylesheets/home.css">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Frequently Asked Questions</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-on-bk-red pad white-text">
    <ul class="question">
      <!--  Onclick calls the function displayOrHide to bring out the the answers to the question you have clicked -->
        <li onclick="displayOrHide(this.id)" id="Q1"><p class="FAQ">How do I know what chapter I belong to?</p ></li><div id="Q1A">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
        <li  onclick="displayOrHide(this.id)" id="Q2"><p class="FAQ">Why cant I see all the resources on the website?</p ></li><div id="Q2A">
            <p>Question 22222 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        <li  onclick="displayOrHide(this.id)" id="Q3"><p class="FAQ">How do I a advance to higer level?</p ></li><div id="Q3A">
          <p> Question 333333333Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <li onclick="displayOrHide(this.id)" id="Q4"><p class="FAQ">How do I submit idea for new projects i want to start?</p ><div id="Q4A">
            <p>QUUESSSSSTion 44444444444lit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div></li>
    </ul>

    <a href="contact">Cant see your question?</a>
    </div>
  </div>
</div>
