<p id="notice"><%= notice %></p>
<div class="white-text text-on-bk-red pad">
  <p>
    <strong>Name:</strong>
    <%= @chapter.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @chapter.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @chapter.country %>
  </p>
</div>
