<h1>Editing Hundred Day Challenge</h1>

<%= render 'form', hundred_day_challenge: @hundred_day_challenge %>

<%= link_to 'Show', @hundred_day_challenge %> |
<%= link_to 'Back', hundred_day_challenges_path %>
